body {
	font-family: sans-serif;
}

.navbox {
	position: fixed;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	background-color: white;
	padding: 1ex;
}

.navbox .links {
	display: none;
}

.navbox:hover .links {
	display: block;
}
